	body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left:20px;
}
button{
	margin-top: 50px;
	margin-bottom: 20px;
	margin-right: 10px;
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	width: 10%;
	font-size: 18px;
	color: #fff;
	margin-left: 10px;
}